$bgColor: #150E28;
$footerbg: #100B20;
$firstColor: #903AFF;
$secondColor: #D434FE;
$thirdColor: #FF26B9;
$white: #fff;

//price background color
$lessPlace: rgba(212, 52, 254, 0.12);
$firstPlace:  rgba(144, 58, 255, 0.12);

//gradient
$gradient: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
$secgradient: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);