@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #150E28;
}

hr {
  color: #fff;
  height: 0;
  opacity: 0.18;
  margin-top: 23px;
}

main {
  background: url(../images/svgs/purpleLensFlare.svg) left top no-repeat;
  background-blend-mode: hard-light;
  background-size: 396px 442px;
  background-color: #150E28;
}
main header h1 {
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 15px;
  padding: 30px 48px 0;
}
main header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 31px;
}

#vectorFour {
  position: relative;
}
#vectorFour img {
  width: 115px;
  position: absolute;
  bottom: -11px;
  right: 0;
}

.container1 {
  text-align: center;
}
.container1 .firstDiv h1 {
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  padding-top: 58px;
}
.container1 .firstDiv p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding-top: 9px;
}
.container1 .firstDiv h2 {
  margin-top: 14.16px;
  font-family: "Unica One", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
}
.container1 .firstDiv h2 .diffFont {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.container1 .secondDiv {
  height: 362.395px;
  max-width: 480px;
  background: url(../images/svgs/metrix1.svg) left top no-repeat, url(../images/svgs/purpleLensFlare2.svg) left top no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: #150E28;
  position: relative;
}
.container1 .secondDiv img {
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#creativeOne {
  position: relative;
}
#creativeOne img {
  width: 18px;
  height: 26px;
  position: absolute;
  top: -16px;
  right: -3.2px;
}

.textimg {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 4.8px;
}
.textimg .chain {
  width: 32px;
  height: 32px;
}
.textimg .boom {
  width: 22px;
  height: 22px;
}

.container2 {
  text-align: center;
}
.container2 .imagedis {
  position: relative;
}
.container2 .mainImage {
  width: 264px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 29px auto 0;
}
.container2 .imgtext {
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.5%;
}
.container2 .arrow {
  margin-top: 10px;
}
.container2 .textdiv h3 {
  margin-top: 22.15px;
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}
.container2 .textdiv p {
  margin: 9px 40px 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

.container3 {
  text-align: center;
  background: url(../images/svgs/purpleLensFlare3.svg) left top no-repeat, url(../images/svgs/purpleLensFlare4.svg) right bottom no-repeat;
  background-blend-mode: hard-light;
  background-color: #150E28;
  margin-top: -106px;
}
.container3 .rulesImg {
  padding-top: 106px;
  width: 294px;
  max-width: 100%;
  height: auto;
}
.container3 .textdiv h3 {
  margin-top: 10px;
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}
.container3 .textdiv p {
  margin: 9px 45px 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

.judgingContainer {
  text-align: center;
  background: url(../images/pngs/purpleflare5.png) left top no-repeat, url(../images/pngs/purpleflare6.png) right bottom no-repeat;
  background-size: 404px 444px;
  background-blend-mode: hard-light;
  background-color: #150E28;
}
.judgingContainer .judgingImg {
  padding-top: 74px;
  width: 332px;
  max-width: 100%;
  height: auto;
}
.judgingContainer .textdiv h3 {
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}
.judgingContainer .textdiv p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
}
.judgingContainer .textdiv p:nth-of-type(1) {
  margin: 16px 45px 0;
}
.judgingContainer .textdiv p:nth-of-type(2), .judgingContainer .textdiv p:nth-of-type(3) {
  margin: 20px 45px 0;
}
.judgingContainer .textdiv p:nth-of-type(4), .judgingContainer .textdiv p:nth-of-type(5) {
  margin: 20px 38px 0;
}
.judgingContainer button {
  padding: 10px 12px;
  margin: 34px auto 58.65px;
}

.diffColor {
  color: #D434FE;
}

.secDiffColor {
  color: #FF26B9;
  font-weight: 700;
  font-size: 13px;
}

button {
  border-style: none;
  border-radius: 4px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.registerButton {
  font-size: 14px;
  padding: 14.14px 46px;
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */