@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: url(../images/svgs/purpleLensFlare.svg) left top no-repeat;
  background-size: 396px 442px;
  background-color: #150E28;
}

main header h1 {
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 0.9375rem;
  padding: 30px 48px 0;
}
main header hr {
  color: #fff;
  height: 0;
  opacity: 0.18;
  margin-top: 23px;
}
main header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 31px;
}

#vectorFour {
  position: relative;
}
#vectorFour img {
  width: 7.19rem;
  position: absolute;
  bottom: -0.69rem;
  right: 0;
}

.container1 {
  text-align: center;
}
.container1 .firstDiv h1 {
  font-family: "ClashDisplay-Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  padding-top: 58px;
}
.container1 .firstDiv p {
  font-family: Montserrat;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 9px;
}
.container1 .firstDiv h2 {
  margin-top: 14.16px;
  font-family: "Unica One", cursive;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
}
.container1 .firstDiv h2 .diffFont {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}
.container1 .secondDiv {
  height: 362.395px;
  max-width: 480px;
  background: url(../images/svgs/metrix1.svg) left top no-repeat, url(../images/svgs/purpleLensFlare2.svg) left top no-repeat;
  background-size: cover;
  position: relative;
}
.container1 .secondDiv img {
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#creativeOne {
  position: relative;
}
#creativeOne img {
  width: 1.125rem;
  height: 1.625rem;
  position: absolute;
  top: -1rem;
  right: -0.2rem;
}

.textimg {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 0.3rem;
}
.textimg .chain {
  width: 2rem;
  height: 2rem;
}
.textimg .boom {
  width: 1.4rem;
  height: 1.4rem;
}

.imagedis img {
  width: 264px;
  height: 257px;
  display: block;
  margin: 29px auto;
}

.diffColor {
  color: #D434FE;
}

button {
  border-style: none;
  border-radius: 4px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.registerButton {
  font-size: 0.875rem;
  padding: 0.88rem 2.87rem;
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */