@use 'color';
@use 'fonts';

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: color.$bgColor;
    color: color.$white;
}

main {
    header {
        h1 {
            font-family: 'ClashDisplay-Bold', sans-serif;
            font-size: 0.9375rem;
            padding: 1.88rem 3rem 0rem;
        }

        hr {
            color: color.$white;
            height: 0rem;
            opacity: 0.18;
            margin-top: 1.44rem;
        }
    }
}

.diffColor {
    color: color.$secondColor;
}