@use 'color';
@use 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    color: color.$white;
    background: url(../images/svgs/purpleLensFlare.svg) left top no-repeat;
    background-size: 24.75rem 27.625rem;
    background-color: color.$bgColor;
}

main {
    header {
        h1 {
            font-family: 'ClashDisplay-Bold', sans-serif;
            font-size: 0.9375rem;
            padding: 1.88rem 3rem 0rem;
        }

        hr {
            color: color.$white;
            height: 0rem;
            opacity: 0.18;
            margin-top: 1.44rem;
        }

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-style: italic;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            padding-top: 1.94rem;
        }
    }
}

.diffColor {
    color: color.$secondColor;
}