@use 'color';
@use 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    color: color.$white;
    background: url(../images/svgs/purpleLensFlare.svg) left top no-repeat;
    background-size: 396px 442px;
    background-color: color.$bgColor;
}

//mobile settings
main {
    header {
        h1 {
            font-family: 'ClashDisplay-Bold', sans-serif;
            font-size: 15px;
            padding: 30px 48px 0;
        }

        hr {
            color: color.$white;
            height: 0;
            opacity: 0.18;
            margin-top: 23px;
        }

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-style: italic;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            padding-top: 31px;
        }
    }
}

#vectorFour {
    position: relative;

    img {
        width: 115px;
        position: absolute;
        bottom: -11px;
        right: 0;
    }
}

//First Section
.container1 {
    text-align: center;
    .firstDiv{
        h1 {
            font-family: 'ClashDisplay-Bold', sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
            padding-top: 58px;
        }

        p {
            font-family: Montserrat;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            padding-top: 9px;
        }

        h2 {
            margin-top: 14.16px;
            font-family: 'Unica One', cursive;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 133%;

            .diffFont {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
            }
        }
    }

    .secondDiv {
        height: 362.395px;
        max-width: 480px;
        background: url(../images/svgs/metrix1.svg) left top no-repeat, 
                    url(../images/svgs/purpleLensFlare2.svg) left top no-repeat;
        background-size: cover;

        position: relative;

        img {
            max-width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}

#creativeOne {
    position: relative;

    img {
        width: 18px;
        height: 26px;
        position: absolute;
        top: -16px;
        right: -3.2px;
    }
}


.textimg {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 4.8px;

    .chain {
        width: 32px;
        height: 32px;
    }
    
    .boom {
        width: 22px;
        height: 22px;
    }
}

//second Section
.container2 {
    text-align: center;

    .imagedis {
        position: relative;
    } 
    .mainImage {
        width: 264px;
        height: 257px;
        display: block;
        margin: 29px auto 0;
    }

    .imgtext {
        position: absolute;
        top: 145px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 122.5%;
    }

    .arrow {
        margin-top: 10px;
    }

    .textdiv {
        h3 {
            margin-top: 22.15px;
            font-family: 'ClashDisplay-Bold', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 133%;
        }

        p {
            margin-top: 9px;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 27.5px;
        }
    }
}

.diffColor {
    color: color.$secondColor;
}

//Button settings
button {
    border-style: none;
    border-radius: 4px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: color.$white;
}

.registerButton {
    font-size: 14px;
    padding: 14.14px 46px;
    margin-top: 24px;
}